:root{
    --titleFont : 'Raleway', sans-serif;
    --primaryFont : 'Roboto', sans-serif;
    --primaryOrange : #f37049 ;
    --MatteBlack : #323944;
}
.collapse,.collapsing
{
    /* overflow-y: scroll; */
 
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* outline: 1px solid lightblue; */
}
.slick-slide{
    outline: none;
}
html{
    scroll-behavior: smooth;
    overflow-x: hidden;
    font-size: 67.5%;
}
button:focus{
    outline: none !important;
    border: none !important;
}
.container
{
    padding: 0 2%;
    margin: 0 2%;
}

.title svg
{
    height: 150px;
}
.prom{
    margin: -2rem 0 0 0 ;
    letter-spacing: 2px;
    font-size: 1.8rem !important;
    font-family: var(--primaryFont);
    font-weight: 200 !important;
    letter-spacing: 1px;
}
.heading
{
    letter-spacing: 1px;
    font-family: var(--primaryFont);
    font-weight: normal;
    text-align: center;
    font-size: 2rem;

}
.animationText .subheading
{
    font-weight: bold !important;
}
.subheading{
    /* font-size: 1.3rem; */
    font-weight: 200 !important;
    font-family: var(--primaryFont);
}

.paragraph{
    font-size: 1.2rem;
    letter-spacing: 1.1px;
    line-height: 2rem;
    width: 100%;
    font-weight: 200;

    font-family: var(--primaryFont);
}
.fa-circle
{
    font-size: 0.5rem;
    color: var(--primaryOrange);
    padding: 0.5rem;

}
.tag
{
    margin-bottom: 2rem;
}
.orange
{
    color: var(--primaryOrange);
}
.text{
    color: var(--primaryOrange);
    
    font-size: 1rem;
}
button
{
    cursor: pointer;
}
a,a:focus,a:hover,a:active{
    text-decoration: none !important;
    border: none !important;
    color: white !important;
}
  .boldText
  {
      font-weight: bold;
      
      /* color: var(--primaryOrange) !important; */
  }

  /* .space
{
    height: 100px;
} */
/* 
-----------------------MAIN------------------------------ */

.main
{
    height: 100vh;

    background-color: var(--MatteBlack);
  
}
.mainWrapper
{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: white;
    /* background-color: grey; */
    align-items: center;
    height: 100%;
    text-align: center;
}
.mainWrapper > div
{
    height: auto;
    width: 100%;
}

.downBtn
{
    margin-top: 1.5rem;
}
.downBtn a i
{
    font-size: 2rem;
    color: var(--primaryOrange);
}
/* -----------------------END OF MAIN------------------------------ */
/* -----------------------RELAY ADVANTAGE------------------------------ */

.advantage
{
    min-height: 100vh;
    background-color: var(--MatteBlack);
}
.advantageHeading
{
    padding-top: 4rem;
}
.advantageHeading h2{
    color: white;
}
.advantageSubHeading
{
    margin-top: 3%;
}
.advantageSubHeading h2
{
    color: white;
    font-size: 1.3rem;
    font-family: var(--primaryFont);
    text-align: center;
    margin-top: 1.5rem;
    font-weight: 200;
}




/* -----------------------SHORT SLIDER------------------------------ */
.shortSliderWrapper
{
    margin-top: 6%;
}
.shortSlider {
    border-radius: 2rem;
  /* background: #5E5E5E; */
  background: #fff;
  position: relative;
  height: 60%;
  margin: 0 auto;
  width: 70%;
  text-align: center;

  display: flex;
  flex-direction: column;
  text-align: center;


}

.slide
{
    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */
max-width: 60%;
height: auto;

}
.sliderImage{
    /* flex-basis: 75%; */
    height: 50%;
}
.sliderImage img{
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    width: 100%;
    height: 100%;
   object-fit: cover;
}

.slideText
{
    /* background-color: #00a0dc; */
     height: 45%;
      border-bottom-left-radius: 40%;
      border-bottom-right-radius: 40%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
        align-items: center;
}
.slideText h2{
    color: var(--primaryOrange) !important;
    font-family: var(--primaryFont) !important;
     margin-top: 1rem; 
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    text-align: left;
    /* height: 30px; */
    width: 85%;
}
.slideText p{
    color: var(--MatteBlack) !important;
    font-family: var(--primaryFont);
    letter-spacing: 0.4px;
    font-size: 0.9em;
    color: white;
    
    width: 85%;
    text-align: left;
    /* height: 50px; */
}


.sliderImage img{
    width: 100%;
}
  /* slick dots  */
  .slick-dots {
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3rem;
    /* padding: 0.5rem 0; */
    list-style-type: none;
    background-color: grey;
    border-radius: 1rem;
    padding: 0.2rem;

  }
  
  /* .slick-dots li {
    margin: 0 1rem;

  } */
  
  .slick-dots button {

    display: block;
    height: 100%;
    width: 4em;
    
    padding: 0;
    border: none;
    background-color: grey;
    text-indent: -99999px;
    border-radius: 1rem;
  }
  
  .slick-dots .slick-active button {
    /* transform: scale(1.8); */
    background-color: white;
    box-shadow: 0 3px 5px 1px rgba(0, 0, 0, 0.205);

  }
  .slick-dots .slick-active button:focus{
      outline: none;
  }
  /* .slick-prev{
      z-index: 1;
  }
  .leftArrow
  {
      z-index: 2;
  } */
/* -----------------------END OF SHORT SLIDER----------------------------- */
/* -----------------------BIG SLIDER----------------------------- */

.sliderWrapperBig
{
  
    display: none;
    
}

/* -----------------------END OF BIG SLIDER----------------------------- */
/* -----------------------END OF RELAY ADVANTAGE------------------------------ */
/* -----------------------THE RELAY TRACKS------------------------------ */
.tracks
{
 
    min-height: 90vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tracksWrapper
{
    width: 100%;
    height: 100%;
}
.headerWhite
{
  
    margin : 4rem 0 2rem 0;
}

.trackSubheading
{
    margin-top: 1%;
    margin-bottom: 2rem;
}
.trackSubheading h2
{
    color: black;
    font-size: 1.3rem;
    font-family: var(--primaryFont);
    text-align: center;
    margin-top: 1.5rem;
    font-weight: 200;
}

.headerWhite h2
{
    font-weight: 400;
    letter-spacing: 1px;
    text-align: center;
  
}
.cardWrapper
{

    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-gap: 4rem;
}
.card
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* background-color: aliceblue; */
    max-width: 300px;
    margin: auto;
    height: 100%;
    /* border: none !important; */
    outline: none;
    /* border-radius: 0.5rem; */
    /* box-shadow: 4px 4px 3px var(--MatteBlack); */
}
.card .image 
{
    text-align : center;
}
.card .image img{
    width: 70%;

}

.cardContent
{
    /* flex-basis: 50%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.cardText
{
    height: 100px;
    
    text-align: center;
    width: 100%;
   
}
.cardText h2
{
    font-size: 1.6rem;
    margin-bottom: 1rem;
    font-family: var(--titleFont);
    font-weight: 600;
    /* height: 40px; */
}
.cardText p{
    height: 60px;
    width: 100%;
    padding: 1rem 1rem;
    text-align: center;
    
    font-size: 1.2rem;
    font-family: var(--primaryFont);
    margin: 0 auto;
}
.cardContent button{
    margin : 1rem auto 1rem auto;
    padding: 1rem 2rem;
    border-radius: 2rem;
    outline: none;
    border: none;
    background-color: var(--primaryOrange);
}
.cardContent a{
    font-size: 1.1rem;
    font-weight: 400;
    font-family: var(--primaryFont);
    letter-spacing: 0.5px;
}

.stayTuned
{
    margin: 2rem 0;
    text-align: center;
}
.stayTuned h2
{
    font-family: var(--primaryFont);
    font-size: 1.4rem;
    font-weight: 300;
}
/* -----------------------END OF RELAY TRACKS------------------------------ */
/* -----------------------RELAY TABLE------------------------------ */
.table
{
    min-height: 100vh;
    /* background-color: #323944; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    align-items: center;
}
.tableWrapper
{
    display: flex;
    height: 100%;
    /* background-color: aliceblue; */
    
}
.left
{
    display: none;
    width: 45%;
    margin: auto;
    color: grey;
}
.right
{
    width: 100%;
    margin: auto;
    max-width: 600px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    
}
.tableHeading
{
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-size: 1.4rem;
    text-align: center;
    height: 60px;

}

.line
{
    width: 1px;
    height: 90%;
    margin: auto;
    top: 50%;
    transform: translate(-50%,-50%);
    background-color: #323944;
    display: none;
}
.tableHeading h2
{
    font-family: var(--titleFont);
    font-weight: 400;
    letter-spacing: 1px;
}
.tableText
{
    /* margin: 2rem 1rem; */
    height: 100px;
    /* background-color: #f37049; */
}
.tableText h2 i
{
    position: absolute;
    left: -4%;
    top: 3px;
    /* background-color: #323944; */
    /* padding: 0.5rem 0; */
    font-size: 1.2rem;
    color: #00B0FF;
}
.tableText h2
{
    position: relative;
    padding: auto;
    /* background-color: #f37049; */
    font-size: 1.6rem;
    margin-bottom: 0.6rem;
    font-family: var(--titleFont);
    font-weight: 500;
}
.tableText p{
    font-size: 1.4rem;
    font-family: var(--primaryFont);
    font-weight: 300;
}
/* -----------------------END OF RELAY TABLE------------------------------ */
/* -----------------------RELAYERS----------------------------- */
.relayers
{
    min-height: 100vh;
    background-color: var(--MatteBlack);
    position: relative;
  
}
.relayArrows
{
    position: absolute;
    height: 100;
    /* background-color: #00a0dc; */
    color: var(--primaryOrange);
    display: flex;
    width: 100%;
    justify-content: space-between;
    top: 50%;
    padding: 3%;

    /* z-index: 9999; */

}
.relayArrows button,.relayArrows button:focus{
    border: none;
    background: transparent;
    outline: none;
    font-size: 2rem;
    color: var(--primaryOrange) !important;
    cursor: pointer;
    z-index: 1111;
}
.slick-prev:before, .slick-next:before{
    color:red;
}
.relayHeading
{
    padding-top: 4rem;
    
}
.relayHeading h2{
    color: white;
    
}
.relayHeading h3{
    color: white;
    font-size: 1.3rem;
    font-family: var(--primaryFont);
    text-align: center;
    margin-top: 1.5rem;
    font-weight: 200;
}
.relayCardWrapper
{
    height: 60%;
    margin-top: 1rem;
    /* background-color: #285AEB; */
}
.relayCard
{
    margin: 1rem 4rem;
    /* background-color: #00B0FF; */
    display: flex;
    flex-direction: column;

    

}
.relayImage
{
    position: relative;
    height: 40%;
   
}

.relayImage img{
    position: absolute;
    width: 140px;
    height: 140px;
    left: 50%;
    top: 93%; 
    transform: translate(-50%,-50%); 
    margin: auto;
    border-radius: 50%;
}
.relayText
{
    margin: auto;
    height: 60%;
    width: 200px;
    background-color: #fff;

    text-align: center;
    /* padding-top: 4rem; */
    font-family: var(--titleFont);

 
    
    border-radius: 2.4rem
}
.relayText h2{
    font-size: 1.6rem;
    padding-top: 8rem;
    padding-bottom: 0.5rem;
    letter-spacing: 1px;
    font-weight: bold;
}
.relayText p{
    font-size-adjust: 1.5rem;
    letter-spacing: 1px;
    /* margin-top: 1rem; */
}


/* -----------------------END OF RELAYERS------------------------------ */
/* -----------------------LEVEL UP ------------------------------ */
.levelup
{
    background-color: var(--MatteBlack);
    padding-bottom: 4rem;
    
    height: 300px;
}
.levelUpWrapper
{
    /* background-color: #00B0FF; */
    padding-top: 10rem;
    height: 300px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.leveltext h2{
    font-size: 3rem;
    font-family: var(--titleFont);
    color: white;
    margin-bottom: 1rem;
    text-align: center;
}
.leveltext p{
    font-size: 1.4rem;
    text-align: center;
    color: var(--primaryOrange);
}
.inviteBtn
{
    width: 100%;
    text-align: center;
    margin-top: 1.5rem;
}
.invite
{
    cursor: pointer;
    margin : 2rem auto;
    padding: 1rem 2rem;
    border-radius: 2rem;
    outline: none;
    border: none;
    background-color: var(--primaryOrange);
    
}
.invite a{
    font-size: 1.2rem;
    font-weight: 400;
    letter-spacing: 1px;
}

/* -----------------------END OF LEVEL UP------------------------------ */
/* -----------------------MENTORS------------------------------ */
.mentors
{
    background-color: #fff !important;
}
.mentors .heading
{
    color: black;
    font-size: 2rem;
    font-weight: normal;

}
.mentors .relayCard .relayText
{
    background-color: var(--MatteBlack);
    color: white;
}
.mentorsHeading h3{
    color: black;
}
.relayers .mentors .relayArrows
{
    display: none;
}
/* -----------------------END OF MENTORS------------------------------ */
/* -----------------------FOOTER----------------------------- */
.footer
{
    padding: 1rem;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    height: 200px;
    background-color: var(--MatteBlack);
}
.links{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* background-color: #990000; */
    align-items: center;
    width: 20%;
}
.link
{
    margin-top: 0.5rem;
    font-size: 3rem;
}
.credentials
{
    color: white;
    margin-top: 1rem;
}
.name
{
    margin-bottom: 0.5rem;
}
.name h2{
    font-size: 1.5rem;
    font-weight: 200;
    font-family: var(--titleFont);
    letter-spacing: 1px;
}
.number h2{
    font-weight: 200;
    font-size: 1.2rem;
    font-family: var(--primaryFont);
    letter-spacing: 1px;
}
.space1
{
    height: 100px;
    background-color: var(--MatteBlack);
}
.insta .fab {
   
    background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.linkedin .fab
{
    color: #00a0dc;;
}
.youtube .fab
{
    color: #ff0000;
}
.fa-heart
{
    color: red;
}
/* -----------------------END OF FOOTER------------------------------ */
@media only screen and (min-width : 480px)
{
    html{
        font-size: 80% !important;
    }
    .relayers
    {
        height: 120vh;
    }
    .relayCardWrapper
    {
        height: 70%;
        margin-top: 1rem;
        /* background-color: #285AEB; */
    }
    .relayCard
    {
        margin: 1rem 2rem;
        /* background-color: #00B0FF; */
        display: flex;
        flex-direction: column;
    
        
    
    }
    .relayImage
    {
        position: relative;
        height: 40%;
       
    }
    
    .relayImage img{
        position: absolute;
        width: 200px;
        height: 200px;
        left: 50%;
        top: 93%; 
        transform: translate(-50%,-50%); 
        margin: auto;
        border-radius: 50%;
    }
    .relayText
    {
        margin: auto;
        height: 60%;
        width: 260px;
        background-color: #fff;
    
        text-align: center;
        /* padding-top: 4rem; */
        font-family: var(--titleFont);
    
     
        
        border-radius: 2.4rem;
    }
    .relayText h2{
        font-size: 1.8rem;
        padding-top: 8rem;
        padding-bottom: 0.5rem;
        letter-spacing: 1px;
        font-weight: bold;
    }
    .relayText p{
        font-size-adjust: 1.5rem;
        letter-spacing: 1px;
        /* margin-top: 1rem; */
    }
  

    .cardWrapper
    {
    
        grid-template-columns: repeat(2,1fr);
        grid-gap: 20px;
    
    }
    .cardText
    {
        height: 100px;
        margin-bottom: 1rem;
    }
    .cardText h2
    {
        font-size: 1.5rem;
        
    }
    .cardText p{
        height: auto;
        font-size: 1rem;

        margin-top: 0rem;
    }
    .cardContent button{
        margin : 2rem auto;
        padding: 0.8rem 1.5rem;
    
        outline: none;
        border: none;
    
    }
    .cardContent a{
        font-size: 1.1rem;

    }
    .links
    {
        flex-direction: row;
        /* background-color:lightblue; */
        width: 60%;
        max-width: 400px;
    }
    .footer{
        flex-direction: column;
    }
    .credentials
    {
        display: flex;
        /* flex-direction: row; */
        justify-content: space-evenly;
        width: 80%;
        max-width: 800px;
    }
  
    .name h2{
        font-size: 1rem;
    }
    .number h2{
        font-size: 1rem;
    }
}
@media only screen and (min-width : 768px)
{
    .relayCardWrapper
    {
        height: 70%;
        margin-top: 1rem;
        /* background-color: #285AEB; */
    }
    .relayCard
    {
        margin: 1rem 1rem;
        /* background-color: #00B0FF; */
        display: flex;
        flex-direction: column;
    
        
    
    }
    .relayImage
    {
        position: relative;
        height: 40%;
       
    }
    
    .relayImage img{
        position: absolute;
        width: 120px;
        height: 120px;
        left: 50%;
        top: 93%; 
        transform: translate(-50%,-50%); 
        margin: auto;
        border-radius: 50%;
    }
    .relayText
    {
        margin: auto;
        height: 50%;
        width: 170px;
        background-color: #fff;
    
        text-align: center;
        /* padding-top: 4rem; */
        font-family: var(--titleFont);
    
     
        
        border-radius: 2.4rem;
    }
    .relayText h2{
        font-size: 1.2rem;
        padding-top: 6rem;
        padding-bottom: 0.5rem;
        letter-spacing: 1px;
        font-weight: bold;
    }
    .relayText p{
        font-size-adjust: 1rem;
        letter-spacing: 1px;
        /* margin-top: 1rem; */
    }
    .name h2{
        font-size: 1.4rem;
    }
    .number h2{
        font-size: 1.4rem;
    }

    html{
        font-size: 90% !important;
    }
    .cardWrapper
    {
    
        grid-template-columns: repeat(3,1fr);
        grid-gap: 10px;
    
    }
    .cardText
    {
        margin : 1rem 0 2rem 0;
        text-align: center;
        width: 100%;
       
    }
    .cardText h2
    {
        font-size: 1.2rem;
        margin-bottom: 1rem;
        font-family: var(--titleFont);
        font-weight: 600;
        height: 40px;
    }
    .cardText p{
        /* height: 40px; */
        font-size: 1rem;
        font-family: var(--primaryFont);
        padding: 0 1rem;
        margin: 0rem;
    }
    .cardContent button{
        margin : 2rem 0 2rem 0;
        padding: 0.8rem 1.5rem;
    
        outline: none;
        border: none;
    
    }
    .cardContent a{
        font-size: 1rem;

    }
    .shortSliderWrapper
    {
        display: none;
    }
    .sliderWrapperBig
    {
        margin: 0rem auto;
        
        display: block;
        min-height: 100%;
        width: 100%;
        /* background-color: antiquewhite;  */
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .sliderTextWrapperBig
    {
       
      
        /* margin-top: 2rem; */
        flex-basis: 45%;
      
        /* overflow-y: scroll; */
        display: flex;
        flex-direction: column;
        margin-right: 2rem;
        justify-content: space-evenly;
        
    }
    .sliderTextBig 
    {
        padding: 1.4rem;
        border-radius: 0.5rem;
        background-color: #4f5765;
        margin-top: 0.5rem;
    }
    .sliderTextBig h2
    {
        color: #fff;
        font-size: 1em;
        font-family: var(--titleFont);
        font-weight: 500;
    }
    .activeRow
    {
        background-color: #4f5765;
        color: white;
    }
   
    .sliderTextBig p{
        /* display: none; */
        color: #fff;
        padding-top: 0.2rem;
        font-size: 1em;
        /* width: 95%; */
        font-family: var(--primaryFont);
    }
    .titleAndButton
    {
        display: flex;
        justify-content: space-between;
    }
    .titleAndButton span .fas{
        font-size: 1.3rem;
        background: transparent;
        cursor: pointer;
        border: none;
        color: var(--primaryOrange);
    }
    .arrowdown{
        transform: rotate(0deg);
        transition: transform 0.1s linear;
      }
      
      .arrowdown.open{
        
        transform: rotate(180deg);
        transition: transform 0.1s linear;
      }
    .imageSliderBig {
        /* flex-grow: 2; */
        
        flex-basis: 50%;
        height: 100% !important;
        display: flex;
        align-items: center;
        justify-content: center;
        /* outline: 1px solid red; */
    }
    .carousel
    {
        width: 100%;
    }
    .carousel-item img{
        width: 100%;
    }
  
    .tableHeading h2
    {
        font-size: 1.6rem;
    }
    .tableText h2{
        font-size: 1.4rem;
    }
    .tableText h2 i{
        left: -5%;
    }
    .tableText
    {
        margin-bottom: 2rem;
    }
    .tableText p{
        font-size: 1.1rem;
    }
    .left{
        display: block;
        display: flex;
        flex-direction: column;
    }
    .right{
        width: 45%;
    }
    .tableWrapper
    {
        position: relative;
    }
    .line{
        display: block;
        position: absolute;
        left: 49%;
    }
}
@media only screen and (min-width : 900px)
{
    html{
        font-size: 100% !important;
    }
    .mainWrapper
    {
        height: 96%;
    }
    .relayCardWrapper
    {
        height: 70%;
        margin-top: 1rem;
        /* background-color: #285AEB; */
    }
    .relayCard
    {
        margin: 1rem 1rem;
        /* background-color: #00B0FF; */
        display: flex;
        flex-direction: column;
    
        
    
    }
    .relayImage
    {
        position: relative;
        height: 40%;
       
    }
    
    .relayImage img{
        position: absolute;
        width: 130px;
        height: 130px;
        left: 50%;
        top: 93%; 
        transform: translate(-50%,-50%); 
        margin: auto;
        border-radius: 50%;
    }
    .relayText
    {
        margin: auto;
        height: 50%;
        width: 170px;
        background-color: #fff;
    
        text-align: center;
        /* padding-top: 4rem; */
        font-family: var(--titleFont);
    
     
        
        border-radius: 2.4rem;
    }
    .relayText h2{
        font-size: 1.1rem;
        padding-top: 5rem;
        padding-bottom: 0.5rem;
        letter-spacing: 1px;
        font-weight: bold;
    }
    .relayText p{
        font-size: 0.8rem;
        letter-spacing: 1px;
        /* margin-top: 1rem; */
    }
  
}
@media only screen and (min-width : 1100px)
{
    html{
        font-size: 100% !important;
    }
    .mainWrapper
    {
        height: 96%;
    }
    .relayCardWrapper
    {
        height: 70%;
        margin-top: 1rem;
        /* background-color: #285AEB; */
    }
    .relayCard
    {
        margin: 1rem 0rem;
        /* background-color: #00B0FF; */
        display: flex;
        flex-direction: column;
    
        
    
    }
    .relayImage
    {
        position: relative;
        height: 40%;
       
    }
    
    .relayImage img{
        position: absolute;
        width: 180px;
        height: 180px;
        left: 50%;
        top: 93%; 
        transform: translate(-50%,-50%); 
        margin: auto;
        border-radius: 50%;
    }
    .relayText
    {
        margin: auto;
        height: 56%;
        width: 220px;
        background-color: #fff;
    
        text-align: center;
        /* padding-top: 4rem; */
        font-family: var(--titleFont);
    
     
        
        border-radius: 2.4rem;
    }
    .relayText h2{
        font-size: 1.4rem;
        padding-top: 6rem;
        padding-bottom: 0.5rem;
        letter-spacing: 1px;
        font-weight: bold;
    }
    .relayText p{
        font-size: 1rem;
        letter-spacing: 1px;
        /* margin-top: 1rem; */
    }
  
}


/* -------------BOUNCE ANIMATION ------------------ */
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css);

.fa {
	width: 60px;
	display: block;
	text-align: center;
	color:#990000;
	font:normal 45px 'FontAwesome';
	line-height:60px;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
}
.fas .fa-chevron-down:before {content: "\f107";}

/* .downBtn {
	position: absolute;
	bottom: 2%;
	left: 50% ;
	width: 20px;
	height: 20px ;
    margin: auto;
	border: 2px solid #990000;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	-ms-border-radius:50%;
	border-radius:50%;
	animation: bounce 2s infinite;
	-webkit-animation: bounce 2s infinite;
	-moz-animation: bounce 2s infinite;
	-o-animation: bounce 2s infinite;
}
 
@-webkit-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);}	
	40% {-webkit-transform: translateY(-30px);}
	60% {-webkit-transform: translateY(-10px);}
}
 
@-moz-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {-moz-transform: translateY(0);}
	40% {-moz-transform: translateY(-30px);}
	60% {-moz-transform: translateY(-10px);}
}
 
@-o-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {-o-transform: translateY(0);}
	40% {-o-transform: translateY(-30px);}
	60% {-o-transform: translateY(-10px);}
}
@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
	40% {transform: translateY(-30px);}
	60% {transform: translateY(-10px);}
} */