:root{
    --titleFont : 'Raleway', sans-serif;
    --primaryFont : 'Roboto', sans-serif;
    --primaryOrange : #f37049 ;
    --MatteBlack : #323944;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 1px solid lightblue; */
}
html{
    scroll-behavior: smooth;
    overflow-x: hidden;
    font-size: 67.5%;
}
.container
{
    padding: 0 2%;
    margin: 0 2%;
}

.title{
    letter-spacing: 2px;
    font-size: 3rem;
    font-family: var(--titleFont);
    font-weight: 200;
    letter-spacing: 2px;
}
.prom{
    letter-spacing: 2px;
    font-size: 2.6rem;
    font-family: var(--titleFont);
    font-weight: 200;
    letter-spacing: 2px;
}
.heading
{
    letter-spacing: 1px;
    font-family: var(--primaryFont);
    font-weight: normal;

    font-size: 1.8rem;
    font-family: var(--titleFont);
}
.subheading{
    /* font-size: 1.3rem; */
    font-family: var(--primaryFont);
}

.paragraph{
    font-size: 1.1rem;
    letter-spacing: 1px;
    width: 100%;
    font-weight: 200;

    font-family: var(--primaryFont);
}
.orange
{
    color: var(--primaryOrange);
}
.text{
    color: var(--primaryOrange);
    
    font-size: 1rem;
}
a,a:focus{
    text-decoration: none;
    color: white;
  }
  .bold
  {
      font-weight: 400;
  }

/* -----------------------MAIN------------------------------ */

.main
{
    height: 100vh;

    background-color: var(--MatteBlack);
  
}
.mainWrapper
{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: white;
    /* background-color: grey; */
    align-items: center;
    height: 100%;
    text-align: center;
}
.mainWrapper > div
{
    height: auto;
    width: 100%;
}

.downBtn
{
    margin-top: 1.5rem;
}
.downBtn a i
{
    font-size: 2rem;
    color: var(--primaryOrange);
}

@media only screen and (min-width : 480px)
{
    html{
        font-size: 80%;
    }
}
@media only screen and (min-width : 768px)
{
    html{
        font-size: 90%;
    }
}
@media only screen and (min-width : 900px)
{
    html{
        font-size: 100%;
    }
    .mainWrapper
    {
        height: 96%;
    }
}


/* -------------BOUNCE ANIMATION ------------------ */
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css);

.fa {
	width: 60px;
	display: block;
	text-align: center;
	color:#990000;
	font:normal 45px 'FontAwesome';
	line-height:60px;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
}
.fas .fa-chevron-down:before {content: "\f107";}

.downBtn {
	position: absolute;
	bottom: 2%;
	left: 50% ;
	width: 20px;
	height: 20px ;
    margin: auto;
	/* border: 2px solid #990000; */
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	-ms-border-radius:50%;
	border-radius:50%;
	animation: bounce 2s infinite;
	-webkit-animation: bounce 2s infinite;
	-moz-animation: bounce 2s infinite;
	-o-animation: bounce 2s infinite;
}
 
@-webkit-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);}	
	40% {-webkit-transform: translateY(-30px);}
	60% {-webkit-transform: translateY(-10px);}
}
 
@-moz-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {-moz-transform: translateY(0);}
	40% {-moz-transform: translateY(-30px);}
	60% {-moz-transform: translateY(-10px);}
}
 
@-o-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {-o-transform: translateY(0);}
	40% {-o-transform: translateY(-30px);}
	60% {-o-transform: translateY(-10px);}
}
@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
	40% {transform: translateY(-30px);}
	60% {transform: translateY(-10px);}
}